table{
	width: 70%;
	float:left;
	border-top: 2px ridge gray;
}

table tr{
	border-bottom: 2px ridge gray;
}

table tr td{
	border-right: 2px ridge gray;
	border-left: 2px ridge gray;
}

aside,content{
	display: block;
	float: left;
}

aside{
	position: fixed;
	width: 15%;
	background: #000;
}

content{
	width: 80%;
	margin-left: 20%;
}
.all-width{
	width: 100%;
}